.circle{
  position:absolute;
  width: 15px;
  height: 15px;
  top:22px;
  left:8px;
  border-radius: 50%;
  background:#ccc;/*背景色*/
}

.spacer{
  padding-top:50px;

}

.next-row{
  clear:left;
  position:relative;
}
.note{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #292;
  /*transition: 1s;
  opacity: 0;*/
}

.noteBase{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #E71
}

.noteTrans{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #292;
  transition: 2s;
  opacity: 0.0;
}

.noteBaseTrans{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #E71;
  transition: 2s;
  opacity: 0.0;
}


.noteNext{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #292;
  transition:2s;
  opacity:0.8;

}

.noteBaseNext{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #E71;
  transition:2s;
  opacity:0.8;
}

.noteNextTrans{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #292;
  opacity: 0.0;
}

.noteBaseNextTrans{
  position: absolute;
  font-size:20px;
  top:-4px;
  left:6px;
  z-index:99;
  color: #E71;
  opacity: 0.0;
}



.nut{
  border-left:5px solid #000;

}

.square {
  /*border: 1px solid #999;*/
  border-right:3px double #555;
  border-bottom:0;
  border-top:0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position:relative;
  z-index:0;
}

.square::before{
  content:"";
  display:block;
  width:34px;
  height:3px;
  background-color:#d90;
  position:absolute;
  top:12px;
  z-index:-2;
}

.squareFletNumber {
  border: 1px solid #FFF;
  border-right:3px double #FFF;
  border-bottom:0;
  border-top:0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position:relative;
  z-index:0;
}
/*-----------*/
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.chordSelector {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.chordSelectorActive {
  background: #c00;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

/*
.square2 {
  background: #f00;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareOdd {
  background: #CCC;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareBlank {
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}


.squareNextScale {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color:#bbb;
}
*/
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
