:root {
  --wh: 34;
}

.bpmDisplay{
  font-size:20px;
  font-weight:bold;
  margin:0 1em;
}

.bpmButton{
  margin:0 0.2em;
}

.scaleBlock{
  float:left;
  padding:0 0 1em 1em;
}

.scaleNoteShifter {
  background: #fff;
  border: 1px solid #999;
  float:none;
  clear:both;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
//width: 34px;
}

.scaleNoteSelector {
  background: #fff;
  border: 1px solid #999;
  float:none;
  clear:both;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  /*width: 34px;*/
}

.scaleTypeSelector{
  display: block;
  background: #fff;
  border: 1px solid #999;
  float:none;
  clear:both;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 102px;
}

.circle{
  position:absolute;
  width:1.5vmax;
  max-width:18px;
  height:auto;
  top:0.9em;
  /*left:0.75vmax;*/
  left:30%;
  border-radius: 100%;
  background:#ccc;/*背景色*/
}

.circle::before{
  content: "";
  display: block;
  padding-top: 100%;
}

.spacer{
  padding-top:50px;


}

.next-row{
  clear:left;
  position:relative;
}

/*FletBoard's Circle Mark*/
.note{
  position: relative;
  font-size:20px;
  top:-4px;
  z-index:99;
  color: #292;
}

.noteBase{color: #E71}
.noteTrans{opacity: 0.0;}
.noteNext{font-size:15px;}
.noteSlope{transition:1s;}

.noteGone{
  transition:1s;
  opacity:0.6;
}


.nut{
  border-left:5px solid #000;

}

.square {
  /*border: 1px solid #999;*/
  border-right:3px double #555;
  border-bottom:0;
  border-top:0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  //width: 34px;
  //width:var(--wh);
  position:relative;
  z-index:0;
}

.square::before{
  content:"";
  display:block;
  width:100%;
  height:3px;
  background-color:#d90;
  position:absolute;
  top:12px;
  z-index:-2;
}

.squareFretNumber {
  //border: 1px solid #FFF;
  border-right:3px double #FFF;
  border-bottom:0;
  border-top:0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position:relative;
  z-index:0;
}
/*-----------*/
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.chordSelector {
  background: #fff;
  border: 1px solid #999;
  float: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.chordSelectorActive {
  background: #c00;
  border: 1px solid #999;
  float: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

/*
.square2 {
  background: #f00;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareOdd {
  background: #CCC;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareBlank {
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}


.squareNextScale {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color:#bbb;
}
*/
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
