:root {
  --wh: 34;
}
/*
img{
  pointer-events: none;
}*/

.bpmDisplay{
  font-size:20px;
  font-weight:bold;
  margin:0 1em;
}

.bpmButton{
  margin:0 0.2em;
}

.scaleBlock{
  float:left;
  padding:0 0 1em 1em;
}

.scaleNoteShifter {
  background: #fff;
  border: 1px solid #999;
  float:none;
  clear:both;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.scaleNoteSelector {
  background: #fff;
  border: 1px solid #999;
  float:none;
  clear:both;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  /*width: 34px;*/
}

.scaleTypeSelector{
  display: block;
  background: #fff;
  border: 1px solid #999;
  float:none;
  clear:both;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 102px;
}

.circle{
  position:absolute;
  width:1.5vmax;
  max-width:18px;
  height:auto;
  top:0.9em;
  /*left:0.75vmax;*/
  left:30%;
  border-radius: 100%;
  background:#ccc;/*背景色*/
}

.circle::before{
  content: "";
  display: block;
  padding-top: 100%;
}

.spacer{
  padding-top:50px;
}

.next-row{
  clear:left;
  position:relative;
}

/*FletBoard's Circle Mark*/
.note{
  position: relative;
  font-size:20px;
  top:-4px;
  z-index:99;
  color: #292;
}

/*.noteBase{color: #E71}*/
.noteBase{color:#F00}
.note1{color: #ffaa44
}
.note2{color: #ffea00
}
.note3{color: #d0ff00
}
.note4{color: #48ff00
}
.note5{color: #00ff80
}
.note6{color: #00ffff
}
.note7{color: #00d9ff
}
.note8{color: #008cff
}
.note9{color: #0033ff
}
.note10{color: #6600ff
}
.note11{color: #d000ff
}

.noteTrans{opacity: 0.0;}
.noteNext{font-size:15px;}
.noteSlope{transition:1s;}

.noteGone{
  transition:1s;
  opacity:0.6;
}
.nut{
  border-left:5px solid #000;
}

.square {
  /*border: 1px solid #999;*/
  border-right:3px double #555;
  border-bottom:0;
  border-top:0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  //width: 34px;
  //width:var(--wh);
  position:relative;
  z-index:0;
  /*background-color: #543321;*/
}

.square::before{
  content:"";
  display:block;
  width:100%;
  height:3px;
  background-color:#d90;
  position:absolute;
  top:12px;
  z-index:-2;
}

.squareFretNumber {
  //border: 1px solid #FFF;
  border-right:3px double #FFF;
  border-bottom:0;
  border-top:0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position:relative;
  z-index:0;
}
/*-----------*/
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.chordSelector {
  background: #fff;
  border: 1px solid #999;
  float: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.chordSelectorActive {
  background: #c00;
  border: 1px solid #999;
  float: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.m-05{
  margin-left:0.25rem;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.wd-0{width:8%}
.wd-1{width:7.8%}
.wd-2{width:7.6%}
.wd-3{width:7.4%}
.wd-4{width:7.2%}
.wd-5{width:7.0%}
.wd-6{width:6.8%}
.wd-7{width:6.6%}
.wd-8{width:6.4%}
.wd-9{width:6.2%}
.wd-10{width:6.0%}
.wd-11{width:5.8%}
.wd-12{width:5.6%}
.wd-13{width:5.4%}
.wd-14{width:5.2%}

@media screen and (max-width:575px) {
  .wd-0{width:10%}
  .wd-1{width:9.7%}
  .wd-2{width:9.4%}
  .wd-3{width:9.1%}
  .wd-4{width:8.8%}
  .wd-5{width:8.5%}
  .wd-6{width:8.2%}
  .wd-7{width:7.9%}
  .wd-8{width:7.6%}
  .wd-9{width:7.3%}
  .wd-10{width:7.0%}
  .wd-11{width:6.7%}
  .wd-12{display: none;}
  .wd-13{display: none;}
  .wd-14{display: none;}

  /*　画面サイズが480px以下の場合ここの記述が適用される　*/

}
